.App {
  text-align: center;
  color: rgb(21, 22, 22);

  header {
    display: flex;
    justify-content: center;
    margin: 2rem;
    
    img {
      height: 5rem;
      border-radius: 50%;
      margin-left: 1rem;
    }
  }

  button {
    margin: 1rem;
  }
}
